/* Global styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* End of global styles */

/* Homepage */
.homepage-container {
  display: block;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  padding: 1rem;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #333;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  background-color: #646cff;
}

/* Filter Bar styles */
.filters {
  display: grid;
  grid-template-columns: t(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.filter-input-group {
  display: flex;
  gap: 0.5rem;
}

.filter-input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  flex: 1; /* Ensures that the inputs in a group take up equal space */
}

.location-input {
  flex: 2; /* Location input takes up more space */
}

/* Styles to prevent number input spinners */
.filter-input[type="number"]::-webkit-inner-spin-button,
.filter-input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Content area */
.content-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns of equal size */
  gap: 1rem; /* Spacing between cards */
}

.card {
  display: flex;
  flex-direction: column; /* Stack image on top of info */
  align-items: center; /* Center items horizontally */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background-color: #fff;
}

.card img {
  max-width: 100%; /* Make sure the image is contained within the card */
  border-radius: 4px;
  margin-bottom: 0.5rem; /* Spacing between the image and the info */
}

.card .info {
  text-align: center; /* Center the text in the info area */
}